extends index
block prepend content
    .container(ng-controller="IndexController")
        ul.nav.nav-pills
            li
                a(ng-click="dialog()") UPLOAD
                //a(href="/data/upload") UPLOAD
    main(ng-view)