extends index
block modal
    .myModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h2 Upload New Data
                .modal-footer
                    form(role="form", action="/data/upload", method="post", enctype="multipart/form-data")
                        input.btn.btn-lg(type="file", name="myfile", id="myfile")
                        input.btn.btn-primary(type='submit',value='Submit')
    -if(messages.length)
        div.alert.alert-success #{messages}
block append admin
        li
            a(data-toggle="modal", data-target=".myModal") UPLOAD