extends layout
block content
    block modal
    .navbar.navbar-fixed-top
        .container
            ul.nav.nav-pills
                li.title
                    =title
                block admin
                li
                    a(href="/logout") LOGOUT
    //p Welcome to the #{title}!
    .main(ng-controller="IndexController")
        .container
            .row(ng-repeat="key in myData | limitTo:5")
                .circlesRow
                    include svg
                .racetrack
                    .horse.animated.bounceInLeft(region='{{key.region}}', ng-style='{"margin-left": "{{key.percent}}%"}')
                        h4.flag-icon(class="flag-icon-{{key.flag}}")
                        img(src="/images/cute_horse3.png",
                        rel="popover", data-content="Percent: {{key.percent}}", title="Country: {{key.region}}", data-placement="top", popover)
                    .grass
        .container
            .myTable(ui-grid="myOptions")