extends layout
block content
    block modal
    .navbar.navbar-fixed-top
        .container
            ul.nav.nav-pills
                li.title
                    =title
                block admin
                li
                    a(href="/logout") LOGOUT
    //p Welcome to the #{title}!
    .main(ng-controller="IndexController")
        .container
            .row(ng-repeat="key in myData | limitTo:5")
                .circlesRow(rel="popover", data-content="<span class='green'>Milestone 1</span> <span class='yellow'>Milestone 2</span><br><span class='red'>Milestone 3</span> <span class='blue'>Milestone 4</span>", title="Milestones", data-html="true", data-animation="false", data-placement="bottom", popover)
                    include svg
                .racetrack
                    .horse.animated.bounceInLeft(region='{{key.region}}', ng-style='{"margin-left": "{{key.percent}}%"}')
                        h4.flag-icon(class="flag-icon-{{key.flag}}")
                        img(src="/images/cute_horse3.png")
                    .grass(rel="popover", data-content="{{key.percent}}%", title="{{key.region}}", data-placement="left", data-animation="false", popover)
        .container
            .myTable(ui-grid="myOptions")