// Brings in layout.jade
extends layout
// block is placeholder, inserts into layout template at that point.
    // each i in new Array(3)
block content
    h1= title
    p Welcome to the #{title}!
    .container(ng-controller="IndexController")
        .row(ng-repeat="(key,val) in data")
            .horse(region='{{key}}', style='margin-left: {{val}}%')
                img(src="/images/cute_horse3.png")
            .grass
        .myTable(ng-grid="myOptions")