// Brings in layout.jade
extends layout
// block is placeholder, inserts into layout template at that point.
block content
    h1= title
    p Welcome to the #{title}!
    .container
        each i in new Array(10)
            .horse
                img(src="/images/cute_horse3.png")
                .grass
