doctype html
html(ng-app="app")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/vendor/bootstrap/bootstrap.min.css')
    //link(rel='stylesheet', href='/vendor/ng-grid/ng-grid.css')
    link(rel='stylesheet', href='/vendor/ui-grid/ui-grid.min.css')
  body
    block content
    script(src='/vendor/jquery/jquery.min.js')
    script(src='/vendor/bootstrap/bootstrap.min.js')
    script(src='/vendor/angular/angular.min.js')
    //script(src='/vendor/ng-grid/ng-grid-2.0.1.min.js')
    script(src='/vendor/ui-grid/ui-grid.js')
    script(src='/javascripts/script.js')