doctype html
html(ng-app="app")
  head
    block head
      title= title
      //link(rel='stylesheet', href='/vendor/normalize.css/normalize.css')
      link(rel='stylesheet', href='/vendor/bootstrap/bootstrap.min.css')
      link(rel='stylesheet', href='/vendor/ui-grid/ui-grid.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
      include ga.html
  body
    block content
    script(src='/vendor/jquery/jquery.min.js')
    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/bootstrap/bootstrap.min.js')
    //script(src='/vendor/angular-route/angular-route.min.js')
    script(src='/vendor/ui-grid/ui-grid.js')
    script(src='/javascripts/script.js')