extends layout
block content
    .container-fluid.loginContainer.col-xs-12.col-sm-6.col-sm-offset-3
        h1.jumbotron.text-center= title
        -if(messages.length)
            div.alert.alert-danger #{messages}
        form.text-center(action="/" method="post")
            div
                label(for="username") Username:
                br
                input.form-control(type="text" name="username" id="username" placeholder="Username")
            div
                label(for="password") Password:
                br
                input.form-control(type="password" name="password" id="password" placeholder="Password")
            div.login
                br
                input.btn.btn-lg.btn-primary(type="submit" value="Log In")