extends layout
prepend head
    meta(charset="utf-8")
block content
    #container
append foot
    script(src='/vendor/d3/d3.min.js')
    script(src='/vendor/queue-async/queue.min.js')
    script(src='/vendor/topojson/topojson.min.js')
    script(src='/javascripts/map.js')