svg(width=50, height=64)
    circle(class="svg_1" ng-class= "{{key.circle1}} ?  'green' : 'transparent'" r="8" cy="21" cx="12.5" stroke-width="2" stroke="#000000")
    circle(class="svg_2" r="8" cy="21" cx="37.5" stroke-width="2" stroke="#000000" fill="#FDBC40")
    circle(class="svg_3" r="8" cy="46" cx="12.5" stroke-width="2" stroke="#000000" fill="#FC615C")
    circle(class="svg_4" r="8" cy="46" cx="37.5" stroke-width="2" stroke="#000000" fill="#14CDFF")
