extends layout
block content
    svg(width=50, height=64)
        circle(class="svg_1" r="8" cy="21" cx="12.5" stroke-width="2" stroke="#000000" fill="none" title="TEST")
        circle(class="svg_2" r="8" cy="21" cx="37.5" stroke-width="2" stroke="#000000" fill="none")
        circle(class="svg_3" r="8" cy="46" cx="12.5" stroke-width="2" stroke="#000000" fill="none")
        circle(class="svg_4" r="8" cy="46" cx="37.5" stroke-width="2" stroke="#000000" fill="none")
