extends layout
block content
    svg(width=50, height=50)
        circle(id="svg_1" r="8" cy="12.5" cx="12.5" stroke-width="2" stroke="#000000" fill="none")
        circle(id="svg_2" r="8" cy="12.5" cx="37.5" stroke-width="2" stroke="#000000" fill="none")
        circle(id="svg_3" r="8" cy="37.5" cx="12.5" stroke-width="2" stroke="#000000" fill="none")
        circle(id="svg_4" r="8" cy="37.5" cx="37.5" stroke-width="2" stroke="#000000" fill="none")
