svg(width=50, height=64)
    circle(class="{{key.circle1}} svg_1" r="8" cy="21" cx="12.5" stroke-width="2" stroke="#000000" fill="transparent")
    circle(class="{{key.circle2}} svg_2" r="8" cy="21" cx="37.5" stroke-width="2" stroke="#000000" fill="transparent")
    circle(class="{{key.circle3}} svg_3" r="8" cy="46" cx="12.5" stroke-width="2" stroke="#000000" fill="transparent")
    circle(class="{{key.circle4}} svg_4" r="8" cy="46" cx="37.5" stroke-width="2" stroke="#000000" fill="transparent")
