extends layout
block content
    h1= title
    form(role="form", action="/data/upload", method="post", enctype="multipart/form-data")
        div(class="form-group")
            label Upload File
            input(type="file", name="myfile", id="myfile")
            input.btn.btn-primary(type='submit',value='Submit')
