@font-face {
  font-family: Sansus;
  src: url("/fonts/Sansus-Webissimo-Regular.otf") format("opentype");
}
/* line 9, style.scss */
body {
  padding: 50px;
  font: 16px Sansus,"Lucida Grande", Helvetica, Arial, sans-serif;
}

/* line 14, style.scss */
.nav > li > a {
  padding: 0 0 0 5px;
}

/* line 18, style.scss */
a {
  color: #00B7FF;
}

/* line 22, style.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 27, style.scss */
.container {
  height: auto;
  margin-top: 3em;
}

/* line 32, style.scss */
.row {
  width: 85%;
  background: #bc7a41;
}
/* line 35, style.scss */
.row:first-child {
  border-radius: 10px 10px 0 0;
}

/* line 39, style.scss */
.grass {
  position: relative;
  background: url("/images/grass-nodirtcrop.png");
  height: 4em;
  width: 100%;
  margin: -4.8em 0 0 0;
}

/* line 47, style.scss */
.horse {
  position: relative;
  margin: -2em 0 2.5em 0;
  width: 100%;
}

/* line 55, style.scss */
.myTable {
  height: 10.8em;
  width: 84.8%;
  margin: 16em 0 0 -.9em;
}

/* line 61, style.scss */
.ui-grid {
  border-radius: 10px;
}

/* line 64, style.scss */
.ui-grid-viewport {
  border-radius: 0 0 10px 10px;
}

/* line 69, style.scss */
.ui-grid-header div {
  border-radius: 10px 10px 0 0;
}

/* line 72, style.scss */
.ui-grid-header-canvas div {
  border-radius: 0px;
}

/* line 80, style.scss */
.racetrack .row:last-child .grass {
  border-radius: 0 0 10px 10px;
}
/* line 83, style.scss */
.racetrack .row:last-child {
  border-radius: 0 0 10px 10px;
}

/* line 88, style.scss */
.btn-lg {
  margin-left: -1em;
}

/* line 95, style.scss */
.loginContainer {
  margin-top: -60px;
}

/* line 98, style.scss */
.jumbotron {
  background-color: #e9f8ff;
  padding: 25px;
  color: red;
  font-family: Sansus;
}

/* line 105, style.scss */
label {
  font-family: Sansus;
  font-size: 25px;
  margin-top: .5em;
}

/* line 111, style.scss */
.login {
  font-family: Sansus;
}

/* line 114, style.scss */
form {
  margin-top: -20px;
}
