@import 'compass';
@import "compass/css3";

@font-face {
  font-family: Sansus;
  src: url("/fonts/Sansus-Webissimo-Regular.otf") format("opentype");
}

body {
  padding: 50px;
  font: 16px Sansus,"Lucida Grande", Helvetica, Arial, sans-serif;
}

.nav>li>a {
  padding: 0 0 0 5px;
}

a {
  color: #00B7FF;
}

img {
  max-width: 100%;
  height: auto;
}

.container{
  height:auto;
  margin-top: 3em;
}

.row{
  width: 85%;
  background: #bc7a41;
  &:first-child {
    border-radius: 10px 10px 0 0;
  }
}
.grass {
  //z-index: 2;
  position: relative;
  background: url("/images/grass-nodirtcrop.png");
  height: 4em;
  width: 100%;
  margin: -4.8em 0 0 0;
}
.horse{
  position: relative;
  margin: -2em 0 2.5em 0;
  width: 100%;
  //-ms-transform: scale(1);
  //transform: scale(1);
}

.racetrack{
  .row:last-child .grass{
    border-radius: 0 0 10px 10px;
  }
  .row:last-child{
    border-radius: 0 0 10px 10px;
  }
}
.btn-lg{
  margin-left: -1em;
}

// ===============
// TABLE (ui-grid)
// ===============
.myTable{
  //height: 10.8em;
  width: 84.8%;
  margin: 16em 0 0 -.9em;
}

.ui-grid{
  border-radius: 10px;
}
.ui-grid-viewport{
  //&:last-child{
  border-radius: 0 0 10px 10px;
  //}
}
.ui-grid-header div{
  border-radius: 10px 10px 0 0;
}
.ui-grid-header-canvas div{
  border-radius: 0px;
}
//.ui-grid-render-container{
//  border: 2px solid black;
//}


// ============
// LOGIN PAGE
// ============
.loginContainer{
  margin-top: -60px;
}

.jumbotron {
  padding: 25px;
  color: red;
  font-family: Sansus;
  background-color: #e9f8ff;
}

label {
  font-family: Sansus;
  font-size: 25px;
  margin-top: .5em;
  //line-height: 2em;
}
.login {
  font-family: Sansus;
}
form {
  padding: 10px;
  background-color: #e9f8ff;
  margin-top: -20px;
}

//.container input {
//  width: 100%;
//  clear: both;
//}

ul.nav.nav-pills {
  border: 2px solid black;
  border-radius: 25px;
  padding: 3px 10px;
  display: inline-block;
  background-color: transparentize(white, 0.5);
  margin-top: -80px;
}

// ============
// CIRCLES
// ============
svg {
  width:50px;
}
.blue {
  fill: blue;
}
// Testing black border
* {
  //border: 2px solid black;
}

