@import 'compass';
@import "compass/css3";


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
  max-width: 100%;
  height: auto;
}
.container{
  border-radius: 25px;
  width: 70em;
  margin-top: 3em;
  //background: url("/images/");
  background: #bc7a41;
}

.grass {
  //z-index: 2;
  position: absolute;
  background: url("/images/grass-nodirtcrop.png");
  height: 4em;
  width: 70em;
  margin: -4.8em 0 0 0;
  //&:first-child {
  //  border-radius: 25px 25px 0 0;
  //}
  //&:last-child {
  //  border-radius: 0 0 25px 25px;
  //}
}
.horse{
  //z-index: 3;
  position: relative;
  margin: -2em 0 2.5em 0;
}

* {
  //border: 2px solid black;
}

