@import 'compass';
@import "compass/css3";


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
  max-width: 100%;
  height: auto;
}
.grass {
  background: url("/images/grass3.png");
  width: 90%;
  height: 4em;
  border: 2px solid black;
}
.horse{
  margin: 1.5em 0 0 0;
  border: 2px solid black;
}

