/* line 5, style.scss */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* line 10, style.scss */
a {
  color: #00B7FF;
}

/* line 14, style.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 18, style.scss */
.container {
  border-radius: 25px;
  width: 70em;
  margin-top: 3em;
  background: #bc7a41;
}

/* line 26, style.scss */
.grass {
  position: absolute;
  background: url("/images/grass-nodirtcrop.png");
  height: 4em;
  width: 70em;
  margin: -4.8em 0 0 0;
}

/* line 40, style.scss */
.horse {
  position: relative;
  margin: -2em 0 2.5em 0;
}
